
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="input" name="email" placeholder="Username" [(ngModel)]="loginForm.email" />
    </div>
    <div class="form-group">
      <input type="password" class="input" name="password" placeholder="Password" required [(ngModel)]="loginForm.password" />
    </div>
    <div class="form-group">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
  <div class="formGroup">
    <button type="button" (click)="loginWithGoogle()">
      Log in with Google
    </button>
  </div>
  <div class="redirectToLogin">
    <span
      >Don't have an account?<span
        class="redirect"
        routerLink="/register-user"
      >
        Sign Up</span
      ></span
    >
  </div>