.card {

    border: 1px solid #ddd;
  
    padding: 16px;
  
    margin: 10px;
  
    width: 200px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
    background-color: #fff;
  
  }
  .card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }