<div class="dashboard">
<div >
<button (click)="newQuestion()">Add Question</button>
</div>
<div class="cardContainer">
    <div class="countclass">
        <div class="card">
            <div class="card-title">300</div>
            <div class="card-body">
              
              <p class="card-text" >Questions</p>
            </div>
        </div>
    </div>
    <div class="countclass">
        <div class="card">
            <div class="card-title">12</div>
            <div class="card-body">
              
              <p class="card-text">Companies</p>
            </div>
        </div>
    </div>
    <div class="countclass">
        <div class="card">
            <div class="card-title">10</div>
            <div class="card-body">
              
              <p class="card-text">Technologies</p>
            </div>
        </div>
    </div>
    <div class="countclass">
        <div class="card">
            <div class="card-title">232</div>
            <div class="card-body">
              
              <p class="card-text">Users</p>
            </div>
        </div>
    </div>
</div>
    <div>
        <app-qlist></app-qlist>
    </div>
</div>


