<div class="qdetailsclass">
    <div  class="qcontainer">
        <div>
            <button [routerLink]="['/questionList']"> Back</button>
        </div>
        <div> 
        <h3>{{data?.id}}  ) Question :  {{data?.question}}</h3>
        <div>Answer : {{data?.answer}}</div>
        <div>Company : {{data?.companyname}}</div>
        <div> Tags : {{data?.tags}}</div>
        <button mat-button color="primary" (click)="report()">Report</button>
 </div>
</div>

    

    <div>
        <div>
            <div class="ratings">
                <p>Average Rating: {{ calculateAverageRating(data?.ratings) }}</p>
            </div>
        </div>
    </div>

    <div><app-starrating></app-starrating></div>
    <div *ngIf="istoReported"><app-reportinfo></app-reportinfo></div>
</div>
