<div class="qdetailsclass">
    <div  class="qcontainer">
        <div>
            <button [routerLink]="['/dashboard']"> Back</button>
        </div>
    
        <div class="questionclass">{{currentQuestionIndex+1}} ) {{ questions[currentQuestionIndex]?.question }}</div>
        <div class="answerclass">Answer: {{ questions[currentQuestionIndex]?.answer }}</div>
        <div><span class="badge badge-primary">{{ questions[currentQuestionIndex]?.company }}</span></div>

        <!-- Button container -->
        <div class="button-container">
            <!-- Previous button -->
            <button *ngIf="isPreviousAvailable" (click)="moveToPreviousQuestion()">Previous</button>
            
            <!-- Next button -->
            <button *ngIf="isNextAvailable" (click)="next()">Next</button>
            
            <!-- Report button -->
            <button (click)="report()">Report issue</button>
        </div>
    </div>

    

    <div>
        <div>
            <div class="ratings">
                <p>Average Rating: {{ calculateAverageRating(data?.ratings) }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="istoReported"><app-reportinfo></app-reportinfo></div>
</div>
